<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - DJRM</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/Aristo/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav>
            <ul id="main-menu" class="menubar">
                <li class="site-title">@Html.ActionLink("djrm", "Index", "Home")</li>                
                <li>
                    <a href="#navigation">Admin Navigation</a>
                    <ul>
                        <li><a href="#dashboard">Dashboard</a></li>
                        <li><a href="#themes">Themes</a></li>
                        <li><a href="#customize">Customize</a></li>
                        <li><a href="#widgets">Widgets</a></li>
                        <li><a href="#menus">Menus</a></li>
                        <li><a href="#background">Background</a></li>
                        <li><a href="#header">Header</a></li>
                    </ul>
                </li>
                <li><a href="#comments">0 new comments</a></li>
                <li>
                    <a href="#View">New</a>
                    <ul>
                        <li><a href="#post">Post</a></li>
                        <li><a href="#media">Media</a></li>
                        <li><a href="#page">Page</a></li>
                        <li><a href="#user">User</a></li>
                    </ul>
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
        </nav>
    </header>
    <div id="body">
        <div class="body-wrapper">
            @RenderSection("featured", required: false)
            <section class="main-content content-wrapper clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer>
        <nav id="contactLinks">
            <ul>
                <li>&copy; @DateTime.Now.Year - djrm</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </nav>
        @Html.Partial("_DebuggingControls")
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        //TODO: This will grow, and will need to be placed to a file like djrm.initialize.js
        $(function () {
            //initialize menubar
            $("#main-menu").menubar();

            //Initialize tooltips for field validations
            $(document).tooltip({
                items: ".input-validation-error, .field-validation-error",
                content: function () {
                    var element = $(this);
                    if (element.is(".input-validation-error")) {
                        //tooltip for the input element with errors
                        return $(this).parent().find('.field-validation-error > span').text();
                    }
                    else {
                        //tooltip for the span with the alert icon
                        return $(this).children().text();
                    }
                },
                tooltipClass: "ui-state-error ui-corner-all field-validation-error-tooltip",
                position: {
                    my: 'left center',
                    at: 'right+1 center'
                }
            });                        
        });
    </script>
    @RenderSection("scripts", required: false)
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
</body>
</html>
