@model DJRM.Common.Security.Model.LocalPasswordModel

<h3>Change password</h3>

@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "PasswordManagement", LoadingElementId = "ChangePasswordloading" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
        <span id="ChangePasswordloading" style="display:none">
            <img src="~/Images/loading.gif" />
        </span>
    </fieldset>
}
