@model DJRM.Common.Security.Model.LocalPasswordModel

<h3>Change password</h3>

@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "PasswordManagement", LoadingElementId = "ChangePasswordloading" }))
{
    @Html.AntiForgeryToken()
    @Html.ExtendedValidationSummary(true)

    <fieldset>
        <legend>Change Password Form</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

    </fieldset>
    
    <input type="submit" value="Change password" />
    <span id="ChangePasswordloading" style="display:none">
        <img src="~/Images/loading.gif" />
    </span>
}
