@model DJRM.Common.Security.Model.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Ajax.BeginForm("SetPassword", "Account", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "PasswordManagement", LoadingElementId = "SetPasswordloading" }))
{
    @Html.AntiForgeryToken()
    @Html.ExtendedValidationSummary(true)

    <fieldset>
        <legend>Set Password Form</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
                
    </fieldset>
    
    <input type="submit" value="Set password" />
    <span id="SetPasswordloading" style="display:none">
        <img src="~/Images/loading.gif" />
    </span>
}
