@model DJRM.Common.Security.Model.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

<aside>
    @Html.Action("Picture")
</aside>

<article id="editProfileContainer">
    @Html.Action("EditProfile")
</article>

<article id="PasswordManagement">
    <p class="message-success">@ViewBag.StatusMessage</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
</article>

<aside id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", "AccountLogin",  new { ReturnUrl = ViewBag.ReturnUrl })
</aside>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
